In [7]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as p
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [4]:
df=p.read_csv(r"C:\Users\DELL\Desktop\Fraud.csv")

In [ ]:
import pandas as pd
import numpy as np
import time
  
# time taken to read data
s_time_chunk = time.time()
chunk = pd.read_csv("C:\\Users\\DELL\\Desktop\\Fraud.csv", chunksize=1000)
e_time_chunk = time.time()
  
print("With chunks: ", (e_time_chunk-s_time_chunk), "sec")
df = pd.concat(chunk)
  
# data
df.sample(10)

With chunks:  0.008090972900390625 sec

In [ ]:
df.head()

In [5]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [9]:
#df['step'].unique()

In [7]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [8]:
df.shape

(6362620, 11)

In [9]:
df['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [10]:
df['type'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [11]:
type=df['type'].value_counts()
type

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [12]:
transaction=type.index
transaction

Index(['CASH_OUT', 'PAYMENT', 'CASH_IN', 'TRANSFER', 'DEBIT'], dtype='object')

In [13]:
df.replace(to_replace=['PAYMENT','TRANSFER','CASH_OUT', 'DEBIT', 'CASH_IN'],value=[2,4,1,5,3],inplace=True)

In [14]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,2,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,4,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,2,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [15]:
df['isFraud']=df['isFraud'].map({0:'No fraud',1:'fraud'})

In [16]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,No fraud,0
1,1,2,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,No fraud,0
2,1,4,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,fraud,0
3,1,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,fraud,0
4,1,2,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,No fraud,0

In [17]:
X=df[['type','amount','oldbalanceOrg','newbalanceOrig']]
X

         type      amount  oldbalanceOrg  newbalanceOrig
0           2     9839.64      170136.00       160296.36
1           2     1864.28       21249.00        19384.72
2           4      181.00         181.00            0.00
3           1      181.00         181.00            0.00
4           2    11668.14       41554.00        29885.86
...       ...         ...            ...             ...
6362615     1   339682.13      339682.13            0.00
6362616     4  6311409.28     6311409.28            0.00
6362617     1  6311409.28     6311409.28            0.00
6362618     4   850002.52      850002.52            0.00
6362619     1   850002.52      850002.52            0.00

[6362620 rows x 4 columns]

In [18]:
Y=df.iloc[:,-2]
Y

0          No fraud
1          No fraud
2             fraud
3             fraud
4          No fraud
             ...
6362615       fraud
6362616       fraud
6362617       fraud
6362618       fraud
6362619       fraud
Name: isFraud, Length: 6362620, dtype: object

In [19]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [3]:
from sklearn.tree import DecisionTreeClassifier

In [4]:
model=DecisionTreeClassifier()

In [2]:
model.fit(X_train,Y_train)

In [3]:
X_train_predict=model.predict(X_train)
X_train_accuracy=accuracy_score(Y_train,X_train_predict)

In [ ]:
print("accuracy of training data part:",X_train_accuracy)

In [ ]:
X_test_predict=model.predict(X_test)
X_test_accuracy=accuracy_score(Y_test,X_test_predict)

In [ ]:
X_test_accuracy